<div class="container-fluid" data-bind="visible: visible, attr: {'component_name':componentName, 'id': id}" style="align-content: center; justify-content: center; text-align: center;">
    <div class="row">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8"  id="queryButtonRow">
                <div class="row" style="font-weight: bold;">
                    <div class="col-sm-4">
                        <button class="btn btn-secondary btn-lg btn-block" data-bind="click: wantsCustomers, css: amIactive1" style="font-weight: bold">Customers</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-secondary btn-lg btn-block" data-bind="click: wantsEmployees, css: amIactive2" style="font-weight: bold">Employees</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-secondary btn-lg btn-block" data-bind="click: wantsIssues, css: amIactive3" style="font-weight: bold">Issues</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">

            </div>
        </div>

            <div class="row"  data-bind="visible: showCustomers">
                <div class="col-sm-1">

                </div>
                <div class="col-sm-10 -align-center" id="searchBarRow1">
                    <div class="row">
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-10">
                            <div class="row" >
                                <div style="overflow: auto;">
                                    <table id="t01">
                                        <tr id="tr01">
                                            <th></th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>School/Company</th>
                                            <th>Phone</th>
                                            <th>Valid</th>
                                        </tr>
                                        <tbody>
                                        <!-- ko foreach: ticketarray1 -->
                                        <tr style="margin-top: 40px;">
                                            <td><button class="btn btn-secondary btn-md" data-bind="click: $parent.modalPop">Update</button></td>
                                            <td data-bind="text: First_Name"></td>
                                            <td data-bind="text: Last_Name"></td>
                                            <td data-bind="text: email"></td>
                                            <td data-bind="text: School_or_Company"></td>
                                            <td data-bind="text: Phone_Number"></td>
                                            <td data-bind="text: Valid"></td>
                                        </tr>
                                        <!-- /ko -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">

                        </div>
                    </div>
                </div>
            </div>

        <div class="row"  data-bind="visible: showEmployees">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10 -align-center" id="searchBarRow2">
                <div class="row">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-10">
                        <div class="row" >
                            <div style="overflow: auto;">
                                <table id="t02">
                                    <tr id="tr02">
                                        <th></th>
                                        <th>Worker ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Valid</th>
                                    </tr>
                                    <tbody>
                                    <!-- ko foreach: ticketarray2 -->
                                    <tr style="margin-top: 40px;">
                                        <td><button class="btn btn-secondary btn-md" data-bind="click: $parent.modalPop2">Update</button></td>
                                        <td data-bind="text: WorkerID"></td>
                                        <td data-bind="text: Name"></td>
                                        <td data-bind="text: Email"></td>
                                        <td data-bind="text: Phone"></td>
                                        <td data-bind="text: Valid"></td>
                                    </tr>
                                    <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">

                    </div>
                </div>
            </div>
        </div>


        <div class="row"  data-bind="visible: showIssues">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10 -align-center" id="searchBarRow3">
                <div class="row">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-10">
                        <div class="row" >
                            <div style="overflow: auto;">
                                <table id="t03">
                                    <tr id="tr03">
                                        <th></th>
                                        <th>Issue Number</th>
                                        <th>User ID</th>
                                        <th>School/Company</th>
                                        <th>Issue Description</th>
                                        <th>Issue Date</th>
                                        <th>Due Date</th>
                                        <th>Urgency</th>
                                        <th>Status</th>
                                        <th>Assigned To</th>
                                    </tr>
                                    <tbody>
                                    <!-- ko foreach: ticketarray3 -->
                                    <tr style="margin-top: 40px;">
                                        <td><button class="btn btn-secondary btn-md" data-bind="click: $parent.modalPop3">Update</button></td>
                                        <td data-bind="text: Issue_Number"></td>
                                        <td data-bind="text: User_ID"></td>
                                        <td data-bind="text: School_or_Company"></td>
                                        <td data-bind="text: Issue_Description"></td>
                                        <td data-bind="text: Issue_Date"></td>
                                        <td data-bind="text: Issue_Due_Date"></td>
                                        <td data-bind="text: Urgency"></td>
                                        <td data-bind="text: Status"></td>
                                        <td data-bind="text: Current_Assignment"></td>
                                    </tr>
                                    <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>