<div class="container" data-bind="visible: visible">
    <!-- Modal -->
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Worker <span></span> Update Modal</h2>
                </div>
                <div class="modal-body col-sm-12" style="text-align: center">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-8">
                        <div class="row" style="margin-bottom: 0px">
                            <div class="col-sm-12">
                                <h4>First Name</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" name="Namemodal" id="Namemodal" class="form-control input-lg" data-bind="value: selectedTicket().Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Email</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" name="Emailmodal" id="Emailmodal" class="form-control input-lg" data-bind="value: selectedTicket().Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Phone Number</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" name="phonemodal" id="phonemodal" class="form-control input-lg" data-bind="value: selectedTicket().Phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Valid</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" name="validmodal" id="validmodal" class="form-control input-lg" data-bind="value: selectedTicket().Valid">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" style="align-content: center; text-align: center;">
                    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" data-bind="click: updateWorkerModal">Update</button>
                </div>
            </div>

        </div>
    </div>
</div>