<div class="container" data-bind="visible: visible, attr: {'component_name':componentName, 'id': id}" style="justify-content: center; align-items: center; margin-top: 6%;">
    <div class="col-sm-12">
        <div class="row" style="text-align: center; padding-top: 20px;">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6 flashThis" id="workspaceModal">
                <div class="row">
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-10">
                        <h1 id="issueTicketText">Issue Ticket</h1>
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="text-align: center;">
                        <h2 id="describeIssueText">Please Describe the Issue</h2>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-10 form-group" data-bind="css: hassucID">
                        <textarea class="form-control flashThisID" rows="5" placeholder="" data-bind="value: issuedescription"></textarea>
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" style="text-align: center;">
                        <h2 id="urgencyQuestionText">What is the urgency of the repair?</h2>
                    </div>
                </div>
                <div class="row" style="text-align: left;">
                    <div class="col-xs-5">

                    </div>
                    <div class="col-xs-3" id="urgencyText">
                        <div class="row">
                            <label><input type="radio" value="3" data-bind="checked: radioSelected" /> High</label>
                        </div>
                        <div class="row">
                            <label><input type="radio" value="5" data-bind="checked: radioSelected" /> Medium</label>
                        </div>
                        <div class="row">
                            <label><input type="radio" value="7" data-bind="checked: radioSelected" /> Low</label>
                        </div>
                    </div>
                    <div class="col-xs-4">

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-1">

                    </div>
                    <div class="col-xs-10" style="text-align: center;">
                        <h2 id="fileAttachmentText">File Attachment<span class="glyphicon glyphicon-open-file" style="padding-left: 3px"></span></h2>
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>

                <div class="row" style="padding-bottom: 20px;">
                    <div class="col-xs-2">

                    </div>
                    <div class="col-xs-8" style="width: 100%">
                        <label class="btn btn-default">
                            Browse <input type="file" hidden>
                        </label>
                    </div>
                    <div class="col-xs-2">

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-8">
                            <button class="btn btn-primary btn-lg btn-block" data-bind="click: handleValidation">Submit</button>
                    </div>
                    <div class="col-sm-2">

                    </div>
                </div>

            <div class="col-sm-3">

            </div>
        </div>
    </div>
</div>
</div>