
<div class="col-sm-12" data-bind="visible: visible">
    <div class="row">
        <div class="col-sm-12">
            <h4 data-bind="text: Issue_Number" id="dayOfWeekTitle"></h4>
        </div>
    </div>
    <div>
        <div style="margin-top: 10px;">

        </div>
        <div>
            <table id="issueTable">
                <tbody>
                <tr>
                    <th>Notes: </th>
                </tr>
                <tr>
                    <td data-bind="text: Notes" id="notesText">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" data-bind="text: Date_Added">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-bottom: 30px;">

        </div>
    </div>
</div>