<div class="container-fluid" data-bind="visible: visible, attr: {'component_name':componentName, 'id': id}">
    <!-- Row conatining everything -->
    <div class="row">
        <!-- Columns containing everything -->
        <div class="col-sm-12">
            <!-- row for title -->
            <div class="row" id="CalendarHeader">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-8" style="text-align: center">
                    <p id="CalendarText">Ticket Calendar</p>
                </div>
                <div class="col-sm-2">

                </div>
            </div>
            <div class="container-fluid visible-md visible-lg">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-1" style="align-items: center">
                        <button data-bind="click: subtractOneWeek" class="btn btn-default btn-md"><span style="font-size:1.5em; margin: 0 0 0 0; padding: 0 0 0 0;" class="glyphicon glyphicon-circle-arrow-left"></span></button>

                    </div>
                    <div class="col-xs-10">

                    </div>
                    <div class="col-xs-1">
                        <button data-bind="click: addOneWeek" class="btn btn-default btn-md"><span style="font-size:1.5em; margin: 0 0 0 0; padding: 0 0 0 0;" class="glyphicon glyphicon-circle-arrow-right"></span></button>
                    </div>
                </div>
            </div>
            <div class="container-fluid visible-lg visible-md">
                <!-- row for Weekly calendar-->
                <div class="row" id="weeklyCalendarRow">
                    <!-- Margin Left -->
                    <div class="col-md-1" id="weeklyCalendarLeftColumn">

                    </div>
                    <!-- day -->
                    <div data-bind="foreach: dayArray" style="align-content: center;">
                        <day params="day: day"> </day>
                    </div>
                    <!-- Margin Right -->
                    <div class="col-md-1" id="weeklyCalendarRightColumn">

                    </div>
                    <!-- end of Weekly Calendar -->
                </div>
            </div>


            <div class="container-fluid visible-sm visible-xs">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-1" style="align-items: center">
                        <button data-bind="click: subtractOneDay" class="btn btn-default btn-md"><span style="font-size:1.5em; margin: 0 0 0 0; padding: 0 0 0 0;" class="glyphicon glyphicon-circle-arrow-left"></span></button>

                    </div>
                    <div class="col-xs-10">

                    </div>
                    <div class="col-xs-1">
                        <button data-bind="click: addOneDay" class="btn btn-default btn-md"><span style="font-size:1.5em; margin: 0 0 0 0; padding: 0 0 0 0;" class="glyphicon glyphicon-circle-arrow-right"></span></button>
                    </div>
                </div>
            </div>
            <!-- Daily Calendar View -->
            <div class="row visible-sm visible-xs" id="dailyCalendarRow">
                <!-- Margin Left -->
                <div class="col-sm-2">

                </div>
                <!-- Button Left -->
                <div class="col-sm-3">
                </div>
                <!-- Ticket View -->
                <div data-bind="foreach: showDay" style="align-content: center">
                    <day params="day: day"> </day>
                </div>
                <!-- Button Right -->
                <div class="col-sm-3">
                </div>
                <!-- Margin Right -->
                <div class="col-sm-3">

                </div>
            <!-- end of Daily Calendar View -->
            </div>
        </div>
    </div>
</div>