
body {
    color: black;
    background-image: linear-gradient(15deg, #144967 0%, #78C7C1 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: auto;
}

.btn-primary {
    color: #ffffff;
    background-color: #52D1DC;
    border-color: #52D1DC;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #ffffff;
    background-color: #52D1DC;
    border-color: #52D1DC;
}

html, body {
    height: 100%;
}

#loginText {
    font-family: Verdana, Geneva, sans-serif;
    color: #647472;
    font-weight: 600;
    font-size: 1.5em;
}

#thankYou {
    font-family: Verdana, Geneva, sans-serif;
    color: #647472;
    font-weight: bold;
    font-size: .5em;
}

#issueTicketText {
    font-family: Verdana, Geneva, sans-serif;
    color: #647472;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 10px;
}

th {
    border: 1px solid #ffffff;
    border-bottom-width: 4px;
    border-bottom-color: #9DB5B2;
    padding: 3px;
    text-align: center;
    margin-top: 10px;
}

tr:hover {
    background-color: #f5f5f5
}

td {
    border: 1px solid #ffffff;
}

#tr01 {
    justify-content: center;
}

#tr02 {
    justify-content: center;
}

#tr03 {
    justify-content: center;
}

table {
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

table#t01 tr#tr01 {
    background-color: #ffffff;
}

table#t01 tr:nth-child(odd) {
    background-color: #ffffff;
}

table#t01 tr:nth-child(even) {
    background-color: white;
}

table#t02 tr#tr02 {
    background-color: #ffffff;
}

table#t02 tr:nth-child(odd) {
    background-color: #ffffff;
}

table#t02 tr:nth-child(even) {
    background-color: white;
}

table#t03 tr#tr03 {
    background-color: #ffffff;
}

table#t03 tr:nth-child(odd) {
    background-color: #ffffff;
}

table#t03 tr:nth-child(even) {
    background-color: white;
}

h3 {
    color: red;
    font-size: 15px;
}

h4 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #647472;
}

#registerModal {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    border-radius: 20px;
    border-width: 3px;
    border-color: #9DB5B2;
    border-style: solid;
}
#loginModal {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    border-style: solid;
    border-color: #9DB5B2;
    border-width: 3px;
}


#searchBarRow1 {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}

#searchBarRow2 {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}

#searchBarRow3 {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
}

#queryButtonRow {
    font-weight: bold;
    background-color: #81E4DA;
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border-style: solid;
    border-color: #81E4DA;
    border-width: 3px;
}

.btn-secondary {
    color: #ffffff;
    background-color: #81E4DA;
    border-color: #81E4DA;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
    color: #ffffff;
    background-color: #78C7C1;
    border-color: #78C7C1;
}

#workspaceModal {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 20px;
    border-style: solid;
    border-color: #9DB5B2;
    border-width: 3px;
}

h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #647472;
}

#urgencyText {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    vertical-align: middle;
    text-align: left;
}

label {
    font-weight: normal;
}

#thankYouPageBackground {
    background-color: white;
    padding-bottom: 60px;
    border-radius: 20px;
    border-style: solid;
    border-color: #AB9E9E;
    border-width: 2px;
}

h5 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    color: #647472;
}

h6 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    text-align: right;
}

.modal-content .modal-body .row {
    padding-top: 10px;
}

.col-sm-4 {
    padding-left: 0px;
    padding-right: 0px;
}