<div class="container" data-bind="visible: visible, attr: {'component_name':componentName, 'id': id}" style="margin-top: 11%">
    <div class="col-md-2">

    </div>
    <div class="col-md-8" id="thankYouPageBackground">
        <div class="row" style="text-align: center; font-size: 10em;">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8" style="padding-top: 40px; padding-bottom: 10px;">
                <h1 id="thankYou">
                    Thank You!
                </h1>
            </div>
            <div class="col-sm-2">

            </div>
        </div>
        <div class="row" style="text-align: center; justify-content: center;">
            <div>
                <img src='lib/checkImage.jpg'/>
            </div>
        </div>
        <div class="row" style="padding-top: 20px; text-align: center">
            <h5> We will process your ticket and get back to you shortly.</h5>
        </div>
        <div class="row" style="padding-top: 20px; text-align: center">
            <h5><a href="www.atlantic.com">Visit Atlantic.com</a></h5>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>