
<div class="container-fluid" data-bind="visible: visible">
    <div class="row">
        <div class="col-xs-12" style="height: 50%">
        </div>
    </div>
    <div class="row" id="centerDiv">
        <div class="col-sm-4" id="viewRouterBox" data-bind="click: showTicketHistory">
            <p id="viewRouterText">VIEW<br>PREVIOUS<br>TICKETS</p>
        </div>
        <div class="col-sm-2" id="orBox">
            <p id="orRouterText">OR</p>
        </div>
        <div class="col-sm-4" id="submitRouterBox" data-bind="click: showTicket">
            <p id="submitRouterText">SUBMIT TICKET</p>
            <span style="font-size:10em; margin: 0 0 0 0; padding: 10px 0 0 0; -webkit-text-stroke: 25px white; color: #56A3A6" class="glyphicon glyphicon-plus"></span>
        </div>
    </div>
</div>